.input-container {
    display: flex;
    margin: 20px;
}

.enable-remove-mode {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.remove-mode {
    display: 'flex';
    margin: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
}
