@charset "UTF-8";

/* @font-face {
    font-family: example;
    src: url(/fonts/example.ttf);
} */

.og {
    font-family: 'Rubik', sans-serif;
    vertical-align: middle;
}

* {
    box-sizing: border-box
}

[hidden] {
    display: none !important
}

[disabled] {
    pointer-events: none;
    opacity: 0.3
}

html {
    --spacing-xs: 8px;
    --spacing: 24px;
    --spacing-s: 12px;
    --spacing-m: 36px;
    --spacing-l: 48px;
    --foreground: black;
    --font-size: 20px;
    --font-size-s: 18px;
    --font-size-xs: 14px;


    --red-light: #FECBCA;
    --red: #F83735;
    --yellow: #FAC832;
    --blue: #1231B5;
    --blue-light: #84B4F9;

    --content-width: 700px;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background: white;
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: var(--foreground);
    margin: 0;
    padding: 1em;
}

p {
    font-size: var(--font-size);
    margin: 0 0 1.5rem;
    line-height: 1.5;
}

.hilite {
    position: relative;
    background: var(--yellow);
    padding: 0 4px;
    z-index: 0;
    border-radius: 2px;
}

::selection {
    background: var(--red-light);
}

iframe {
    max-width: 100%
}

/**********************
 * Copy
 **********************/
h1,
h2,
h3,
h4 {
    font-weight: 700;
    margin: var(--spacing) 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
nav a,
nav button {
    text-decoration: none;
    color: var(--foreground);
}

h1 {
    font-size: 36px;
    font-weight: 900;
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-l);
}

.subtitle {
    font-size: 26px;
}

h2,
h3 {
    font-size: 26px;
    font-weight: 900;
    position: relative;
    margin-top: var(--spacing-l);
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
}

ul.listing>h3 {
    margin-top: var(--spacing-s);
}

ul {
    margin: 0;
    padding: 0;
}

/**********************
 * Party tricks
 **********************/
/* Thank you GitHub Universe site for this innovation */
.rainbow {
    display: inline-block;
    background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.with-butt:after {
    content: "";
    position: absolute;
    width: var(--spacing-l);
    height: var(--spacing-s);
    bottom: calc(0px - var(--spacing-s));
    left: 0;
    border-bottom: 6px solid var(--red);
}


/**********************
 * Footer
 **********************/
.footer {
    position: relative;
    width: 100%;
    color: black;
    margin: var(--spacing-l) 0;
}

.footer>.thanks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    position: relative;
}

.footer>.thanks .heart {
    text-decoration: none;
    font-size: 24px;
    margin-left: var(--spacing);
    flex: 1;
    text-align: left;
}

.prev-next {
    padding: var(--spacing-l) 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
